body {
    margin: 0;
    background: rgb(51, 51, 51);
}

#titulo {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
}

#texto {
    height: 100px;
    margin-top: 100px;
    text-align: center;
}

#boton {
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

#boton1 {
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-style: italic;
}

#boton1:hover {
    background-color: aqua;
}

#texto1 {
    border-radius: 10px;
    width: 20%;
    height: 30px;
    font-size: large;
}

#texto2 {
    border-radius: 10px;
    width: 20%;
    height: 30px;
    font-size: large;
}

#resultadoSuma {
    background-color: rgb(255, 0, 242);
    text-align: center;
    color: rgb(51, 51, 51);
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#resultadoResta {
    background-color: rgb(255, 0, 242);
    text-align: center;
    color: rgb(51, 51, 51);
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#resultadoMultiplicacion {
    background-color: rgb(255, 0, 242);
    text-align: center;
    color: rgb(51, 51, 51);
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#resultadoDivision {
    background-color: rgb(255, 0, 242);
    text-align: center;
    color: rgb(51, 51, 51);
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}